@font-face {
    font-family: Poker;
    src: url(../assets/fonts/PokerKings-Regular.ttf);
}

/** INICIO LOGIN **/
.login h1.title{
    font-family: Poker;
    font-weight: normal;
    font-size: 3.5rem;
    text-align: center;
    color: white;
    text-shadow: 4px 4px #000;
}

.login #login{
    background: url(../assets/images/black-tr.png) repeat;
    width: 40%;
    margin: 0 auto;
    padding: 1%;
    box-shadow: 5px 10px 18px #000;
}

.login #login h2{
    font-family: Poker;
    font-weight: normal;
    font-size: 2.2rem;
    text-align: center;
    color: #fff;
    text-shadow: 3px 2px #000;
    margin: 0px 0px 13px 0px;
}

.login #login .input-login{
    display: block;
    width: 60%;
    margin: 0 auto;
    height: 35px;
    padding: 1%;
}

.login #login #submit{
    background: #fff;
    border: 1px solid #999;
    padding: 5px;
    width: 20%;
    min-width: 60px;
    height: 37px;
    margin: 0 auto;
    display: block;
}

.login #login .login-error{
    margin: 2%;
    color: red;
    font-size: 1.2rem;
    text-align: center;
    text-shadow: 1px 1px #000;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -100;
}
/*** FIN LOGIN  **/

/* INICIO iniJugador */
.iniJugador{
    background: url(../assets/images/poker-texture.jpg) repeat;
}


.iniJugador .txtEspJug{
    animation-duration: 3.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-name: bounce;
    margin-top: 3%;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-30px);}
  60% {transform: translateY(-15px);}
}

.iniJugador h1,.iniJugador h2{
    font-family: Poker;
    font-weight: normal;
    font-size: 2.8rem;
    color: white;
    text-shadow: 3px 2px #000;
    text-align: center;
}

.iniJugador h2{
    font-size: 2rem !important;
}

.iniJugador h2 #cantJug{
    font-family: arial,sans-serif;
    color: red;
}

.iniJugador #usuario{
    color: #A9F5D0;;
}
/* FIN iniJugador */

/* INICIO JUEGO */
.juego #area-juego{
    background: url(../assets/images/texture-poker-table.jpg) repeat;
}

/* FIN JUEGO */